* {
  box-sizing: border-box;
}

body {
  font-family: serif;
  background: #fff;
}

.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

h5 {
  text-align: center;
}

.parallax-1 {
  height: 800px;
  background: url("../images/mac-coffee.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax-2 {
  height: auto;
  background: url("../images/mac-notebook.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax-3 {
  height: auto;
  background: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-4 {
  height: auto;
  background: url("../images/mac-person.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax-5 {
  height: auto;
  background: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-6 {
  height: auto;
  background: url("../images/code.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.parallax-7 {
  height: auto;
  background: #fff;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.portfolio-image {
  max-width: 45%;
  border: solid 2px #aaa;
}

.portfolio-image:hover {
  max-width: 50%;
}

.contact-image:hover {
  border: solid 3px #aaa;
}

a {
  text-transform: lowercas;
  font-size: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 3px;
  margin-top: 5%;
  text-shadow: 2px 2px #000;
}

h2 {
  max-width: 100%;
  color: #fff;
  padding: 60px 0px;
  text-align: center;
  text-shadow: 2px 2px #000;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: 0.8;
}

h3 {
  color: #000;
  padding: 15px 0px;
  text-align: center;
}

blockquote {
  background: #fff;
  opacity: 0.6;
  margin: 15% auto;
  text-align: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px;
  padding: 20px;
  max-width: 55%;
}

.paragraph-design {
  max-width: 75%;
  font-family: sans-serif;
  font-size: 26px;
  text-align: left;
  margin: auto;
  padding-bottom: 45px;
}

form {
  font-family: sans-serif;
}

img {
  margin-bottom: 20px;
}

#footer {
  padding: 20px;
}
